<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,user-scalable=no" />
<title>信息化管理系统</title>
<link rel="stylesheet" href="../../view/test/js/jquery.mobile-1.4.5.css" />
<script src="../../view/test/js/jquery-1.8.3.min.js"></script>
<script src="../../view/test/js/jquery.mobile-1.4.5.js"></script>
<script src="../../view/test/js/jquery.cookie.js"></script>
<script src="../js/approveInfo.js"></script>
</head>
<body>
	<div data-role="page" id="ApplyInfo">
		<div data-role="header">
			<h4>审批信息</h4>
		</div>
		<div data-role="content">
			<ul data-role="listview" id="list">
			</ul>
			<p id="info" style="text-align:center;"></p>
		</div>
		
	</div>
</body>
</html>