<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=GBK" />
<meta name="viewport"content="width=device-width,initial-scale=1.0,user-scalable=no" />
<link rel="stylesheet" href="../../view/test/js/jquery.mobile-1.4.5.css" />
<!--<link rel="stylesheet" href="../../view/test/js/tablecloth.css" />-->
<script src="../../view/test/js/jquery-1.8.3.min.js"></script>
<script src="../../view/test/js/jquery.mobile-1.4.5.js"></script>
<script src="../../view/test/js/jquery.cookie.js"></script>
<!--<script src="../../view/test/js/tablecloth.js"></script>-->
<title></title>

</head>
<body>
	<div data-role="page" id="pageone" data-dom-cache="true">
		<script type="text/javascript">
//基本信息初始化事件
function findImg(CarNum){
		if(CarNum=="京HV3507")
			return "../../img/BorrowCarImage/jeep.jpg";
		else if(CarNum=="京NH8845"){
			return "../../img/BorrowCarImage/bieke.jpg";
		}
		else if(CarNum=="京NTU976"){
			return "../../img/BorrowCarImage/jieda.jpg";
		}
		else{
			return  "../../img/BorrowCarImage/benchi_s.jpg";
		}
	}
	
var  canshu="";
//根据选中的index 加载图片
function getSrc(index){
	switch(index){
		case 0:
		    $("#carnum").html("Jeep 京HV3507");
			return "../../img/BorrowCarImage/jeep.jpg";
			break;
		case 1:
			$("#carnum").html("别克 京NH8845");
			return "../../img/BorrowCarImage/bieke.jpg";
			break;
		case 2:
			$("#carnum").html("大众 京NTU976");
			return "../../img/BorrowCarImage/jieda.jpg";
			break;
		case 3 :
			$("#carnum").html("奔驰 京Q1L932");
			return "../../img/BorrowCarImage/benchi_s.jpg";
			break;
		case 4:
			$("#carnum").html("奔驰 京QMQ381");
			return "../../img/BorrowCarImage/benchi_s.jpg";
			break;
		default:
			alert("车辆信息错误");
			break;
	}
}
function getCarNum(info){
	var str=info.split(' ');
	return str[1];
}
//公车详细信息 页面显示事件
$(document).on("pageshow","#pageone",function(){
	$("title").html("公车基本信息"); 
	$("#detail").empty();
});

//页面1隐藏事件
$(document).on("pagehide","#pageone",function(){
})

$(document).on("pageshow","#pagetwo",function(){
	$("title").html("公车详细信息");
	var carnum11="";
	var carnum22=""; 
	if(sessionStorage.getItem("carnum")==null){
		 carnum11=getCarNum($("#carnum").html());
		 carnum22=$("#carnum").html();
	}
	else{
		 carnum11=getCarNum(sessionStorage.getItem("carnum"));
		 carnum22=sessionStorage.getItem("carnum");
	}
	
	$.ajax({
			type : "post",
			url : "/HFOA/web/GetOneInfo?carnum="+carnum11,
			dataType : 'json',
			success : function(data) {
			    //获取公车基本信息
			    if (data != null) {
					var tbody="";
					var carnum="";
					$(data).each(function() {
							 tbody=$("<tr><td>产权单位：</td><td>"+this.carUnit+"</td></tr>"+
						"<tr><td>载客人数：</td><td>"+this.peasonNum+"</td></tr>"+
						"<tr><td>购置时间：</td><td>"+this.carBuyTime+"</td></tr>"+
						"<tr><td>保险截止时间:</td><td>"+this.carInsuranceInfo1+"</td></tr>"+
						"<tr><td>行驶里程(公里):</td><td>"+this.carDistance+"</td></tr>"+
						"<tr><td>加油卡余额(元):</td><td>"+this.cardVale+"</td></tr>");
						 carnum=this.carType+" "+this.carNum;
						 canshu=this.id;
					});
					if(sessionStorage.getItem("carid")==null){
						sessionStorage.setItem("carid",canshu);
					}
					else{
						sessionStorage.removeItem("carid");
						sessionStorage.setItem("carid",canshu);
					}
					$("#detail").append(tbody);
					//ajax请求回来还要重新赋值标题信息 否则刷新会出问题
					 $("#carnum").html(carnum);
					 $("#img6").attr('src',findImg(getCarNum(carnum)));
				
				}
				//
				else {
					alert("数据传输出现问题")
				}
			},
			error : function(data) {
						alert("网络错误");
					}
		});
});
$(document).ready(function(){

	//基本信息击事件
	$("#po li").click(function(){
		$("#img6").attr('src', getSrc(parseInt($(this).index())));
		if(sessionStorage.getItem("carnum")==null){
			sessionStorage.setItem("carnum",$("#carnum").html());
		}
		else{
			sessionStorage.removeItem("carnum");
			sessionStorage.setItem("carnum",$("#carnum").html());
		}
	});
	//返回页面1
	$("#back").click(function(){
		$.mobile.changePage("../../view/BorrowCar/BaseInfo.html#pageone",	{
																					transition : "slideup"
																	});
	});
	$("#InsuranceInfo").click(function(){
			location.href=encodeURI("InsuranceInfo.html?carnum="+getCarNum($("#carnum").html()));
		//location.href="InsuranceInfo.html";
	});
	$("#ProtectInfo").click(function(){
		location.href="FixInfo.html?carnum="+getCarNum($("#carnum").html());
	});
	$("#Punishment").click(function(){
		location.href="Punishment.html?carnum="+getCarNum($("#carnum").html());
	});
	$("#TroubleInfo").click(function(){
		location.href="TroubleInfo.html?carnum="+getCarNum($("#carnum").html());
	});
	$("#AddOil").click(function(){
		location.href="AddOilInfo.html?carnum="+getCarNum($("#carnum").html());
	});
});
$(document).on('click', '#reset', function() {
	// 重置按钮的点击事件
	location.href="BaseInfo.html";
});
	
</script>
		<div data-role="header">
			<h4>基本信息</h4>
		</div>
		<div data-role="content" data-position="fixed" data-fullscreen="true" data-theme="a">
		<ul data-role="listview" id="po">
			<li >	
					<a href="#pagetwo">
					<table>
						<tr>
							<td align="center" style="width:20%;">
								<img id="img1"  src="../../img/BorrowCarImage/jeep.jpg" >
							</td>
						<td align="center">
							<h2>Jeep 京HV3507</h2>
						</td>
						</tr>
					</table>	
					</a>
			</li>
			<li>
					<a href="#pagetwo">
							<table>
						<tr>
							<td align="center" style="width:20%;">
								<img id="img2" src="../../img/BorrowCarImage/bieke.jpg">
							</td>
						<td align="center">
							<h2>别克 京NH8845</h2>
						</td>
						</tr>
					</table>	
					</a>
			</li>
			<li>
					<a href="#pagetwo">
							<table>
						<tr>
							<td align="center" style="width:20%;">
								<img id="img3" src="../../img/BorrowCarImage/jieda.jpg">
							</td>
						<td align="center">
							<h2>大众 京NTU976</h2>
						</td>
						</tr>
					</table>	
				
					
					</a>
			</li>
			<li>
				    <a href="#pagetwo">
				    			<table>
						<tr>
							<td align="center" style="width:20%;">
								<img id="img4" src="../../img/BorrowCarImage/benchi_s.jpg">
							</td>
						<td align="center">
							<h2>奔驰 京Q1L932</h2>
						</td>
						</tr>
					</table>	
					
					
					</a>
			</li>
			<li>
					<a href="#pagetwo">
								<table>
						<tr>
							<td align="center" style="width:20%;">
								<img id="img5" src="../../img/BorrowCarImage/benchi_s.jpg"  >
							</td>
						<td align="center">
							<h2>奔驰 京QMQ381</h2>
						</td>
						</tr>
					</table>	
					
					
					</a>
			</li>
		</ul>
		</div>
	</div>
	<div data-role="page" id="pagetwo" data-dom-cache="true">
		<div data-role="header">
			<h4>基本信息</h4>
			<a href="#" data-role="button" class="ui-btn-left" data-icon="back" id="back">返 回</a>
		</div>
		<div data-role="content" data-position="fixed" data-fullscreen="true" data-theme="a">
			<table width=="100%">
				<tr>
					<td style="width:20%;">
						<img id="img6">
					</td>
					<td align="center">
						<h2 id="carnum"></h2>
					</td>	
				</tr>
			</table>
			<table width="100%" id="detail"  >

			</table>
		 
		<div>
			<ul data-role="listview" id="list" data-inset="true">
				<li>
					<a id="InsuranceInfo">
						<table width="100%">
							<tr>
								<td style="width:30%">
									<img height="70%"  id="baoxian" src="../../img/BorrowCarImage/baoxian.png"  class="ui-li-icon" >
								</td>
								<td align="left">
									<h1 align="left">保险信息</h1>
								</td>
							</tr>
						</table>
					</a>
				</li>
				<li>
					<a id="ProtectInfo">
						<table width="100%">
							<tr>
								<td style="width:30%">
									<img height="70%"  id="baoxian" src="../../img/BorrowCarImage/weixiu.png"  class="ui-li-icon" >
								</td>
								<td align="left">
									<h1>保养/维修信息</h1>
								</td>
							</tr>
						</table>
					</a>
				</li>
				<li>
					<a id="Punishment">
						<table width="100%">
							<tr>
								<td style="width:30%">
									<img height="70%"  id="baoxian" src="../../img/BorrowCarImage/weizhang.png"  class="ui-li-icon" >
								</td>
								<td align="left">
									<h1>违章信息</h1>
								</td>
							</tr>
						</table>
					</a>
				</li>
				<li>
					<a id="TroubleInfo">
						<table width="100%">
							<tr>
								<td style="width:30%">
									<img height="70%"  id="baoxian" src="../../img/BorrowCarImage/shigu.png"  class="ui-li-icon" >
								</td>
								<td align="left">
									<h1>事故信息</h1>
								</td>
							</tr>
						</table>
					</a>
				</li>
				<li>
					<a id="AddOil">
						<table width="100%">
							<tr>
								<td style="width:30%">
									<img height="70%"  id="baoxian" src="../../img/BorrowCarImage/jiayou.png"  class="ui-li-icon" >
								</td>
								<td align="left">
									<h1>加油信息</h1>
								</td>
							</tr>
						</table>
					</a>
				</li>
				
			</ul>
		</div>
	  </div>
	</div>
	
</body>
</html>