<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>算法类型管理</title>
</head>
<link type="text/css" rel="stylesheet" href="../../static/css/comstyle/css/bootstrap.css" />
<script type="text/javascript" src="../../static/javascript/common/jquery.min.js"></script>
<script type="text/javascript" src="../../static/javascript/common/common.js"></script>
<script type="text/javascript" src="../../static/javascript/common/d3.v3.js"></script>
<script type="text/javascript">
$(document).ready(function (){
	jQuery.ajax({
		type : "POST",
		url : "/hfgaApp/dict/arithmetic/getAll",
		dataType : 'json',
		success : function(data) {
			var str='<tr><td colspan="3"><h4>算法类型</h4></td></tr><tr><td>序号</td><td>字典标识</td><td>字典名称</td></tr>';
			$(data).each(function (){
				str+='<tr><td>'+this.iOrder+'</td><td>'+this.dictCode+'</td><td>'+this.dictValue+'</td></tr>'
			})
			$(".table-hover").html(str);
		}
	});
});
</script>
<body>
 <table class="table table-hover" style="width:95%;float:right;">
 		  
</table>
</body>
</html>
