<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>调用算法</title>
</head>
<link type="text/css" rel="stylesheet" href="../../static/css/comstyle/css/bootstrap.css" />
<body>
<form action="/hfgaApp/arithmetic/callArithmetic" method="post">
<table class="table table-hover" style="width:95%;float:right;">
	<tr>
		<td colspan="4"><h4>调试算法</h4></td>
	</tr>
	<tr>
		<td>识别编码</td>
		<td><input type="text" name="code" value="add-0.1"></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>参数</td>
		<td><input type="text"  name="value" value="111\\222\\333"></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td colspan="4"><input type="submit" value="测试"></td>
	</tr>
</table>
</form>
</body>
</html>